<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/octicons/octicons.css' />
  </head>
  <body>
  	<header id='login_top'>
        <span class="mega-octicon octicon-octoface"></span>
  		 	<span id="hadertitle" >Issues-Management</span>
        <a href="https://<%= AOuth_HOST %>/login/oauth/authorize?client_id=<%= CLIENT_ID %>&scope=repo"> Authorize with you Github</a>
  	</header>
  </body>
</html>