body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.6em;
  font-size: 13px;
  color: #333;
}

a {
  text-decoration: none;
  color: #08c;
}

h1 {
  font-weight: normal;
}

time {
  float: right;
  font-size: 12px;
  color: #999;
}

img {
	max-height: 1000px;
	max-width: 1000px;
}

.margin5 {
	margin: 5px;
}

.margin10 {
	margin: 10px;
}

.floatRight {
	float:right; 
}

#hadertitle {
	line-height: 80px;
    color: #111111;
    font-weight: bolder;
    font-size: 30px;
}
#subtitle {
    color: #111111;
    font-weight: bolder;
    font-size: 10px;
    margin-left: 5px;
}

.issues-open-png {
	float:left; 
	margin-right: 8px;
	width: 40px;
	height: 40px;
	border: 1px solid #e0e0e0;
  	border-radius: 5px;
}

.comment-png {
	float:left; 
	margin-right: 8px;
	width: 20px;
	height: 20px;
	border: 1px solid #e0e0e0;
  	border-radius: 5px;
}

#userpng {
	float:left; 
	margin: 10px;
	width: 60px;
	height: 60px;
	border: 1px solid #e0e0e0;
  	border-radius: 5px;
}

#repodiv {
	height: 80px;
	vertical-align: middle;
	padding: 25px;
}

#overlayer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#Container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	overflow: hidden;
	background-color: #F3F3F3;
}

#navbar {
	overflow: hidden;
	height: auto;
	background-color: #FAFAFA;
}

#navbar .navbar-container {
	height: auto;
	margin-left: 300px;
	margin-right: 300px;
	background-color: #FAFAFA;
}

.dijitTooltipConnector {
	display: none;
}

#content {
	overflow: auto;
	margin: 0 auto;
  	padding: 20px 300px;
}

#pagecontral {
	text-align:center;
	height: 40px;
/*  	background-color: red;*/
}

.selectdiv {
	overflow: auto;
	max-height: 400px;
}

.lable-select {
	width: 290px;
	height: auto;
}


.item {
	margin: 10px;
	padding: 10px;
	background-color: #CCFFFF;
}

.commentItem {
	margin: 5px;
	padding: 5px;
	background-color: #FC9;
}

.issue-title-link {
	padding-right: 3px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}

.comment {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.comment:not(:last-child):after {
  content: ""; display: block;
  margin-top: 1px;
  margin-left: 15px;
  border-left: 2px solid #f0f0f0;
  height: 20px;
  position: absolute;
}

.issue-meta {
	margin-top: 4px;
}

.meta {
  background: #F5F5F5;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 15px 8px 8px;
}

.person {
  font-weight: bold;
}

.comment .body {
  padding: 15px;
}

.badge {
  padding: 2px 5px;
  border-radius: 3px;
  background: #999;
  color: #fff;
  font-weight: bold;
  margin-right: 3px;
  text-transform: capitalize;
}

.badge.closed { background: #c00; }
.badge.open { background: #5c5; }

.milestone_title {
	margin-left: 5px;
}
.milestone_count {
	float: right;
	margin-left: 5px;
}

.label_name {
	margin-left: 5px;
}

.menu-png {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    float: left;
    height: 20px;
    margin: auto 2px;
    width: 20px;
}

.assignee_menu {
	display: inline-block;
	margin-left: 10px;
}

#userTagCenter {
	position: fixed;
	top: 130px;
	left: 30px;
	width: 240px;
}

#userownTagcolour{
	margin-top: 8px;
}

#issuesCount {
    position: fixed;
    bottom: 20px;
    right: 30px;
    min-width: 53px;
    height: 25px;
    background-color: #F3F3F3;
    padding: 8px;
    border-radius: 5px;
  	line-height:25px;   
  	overflow:hidden;
  	font-weight: bold;
}
#scrolltop {
	position: fixed;
    bottom: 70px;
    right: 30px;
}

#tagTable {
	max-height: 350px;
}

.tagBox {
    display: inline-block;
}


/**
 * Login Page
 */
#login_top {
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	background-color: #F3F3F3;
}

#login_top .logo {
	width: 100px;
	height: 100px;
	margin-top: 20px;
}

#login_top .name {
	line-height: 60px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

#login_top div {
	text-align: center;
}

#login_top a {
	margin-bottom: 20px;
}





.issuestitle {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.issuestitle:not(:last-child):after {
  content: ""; display: block;
  margin-top: 1px;
  margin-left: 15px;
  border-left: 2px solid #f0f0f0;
  height: 10px;
  position: absolute;
}

.issuestitle .body {
  padding: 5px 15px;
}


/************************************************
	menuPanel CSS
 ************************************************/
.jimu-menupanel .jimu-icon-btn {
    margin: 5px;
    -moz-user-select: none;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    vertical-align: middle;
    /*white-space: nowrap;*/
}

.selIcon {
    width: 16px;
    height: 16px;
    vertical-align:middle;
}

.drop-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.4);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 4px;
    /*overflow: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 300px;
    height: 500px;
}

.menu-item {
    border-bottom: 1px solid #eee;
    color: inherit;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
}

.jimu-menupanel .menu-item-line {
    border: 3px solid rgba(0, 0, 0, 0.33);
    margin: 0px;
}

.select-menu-item-icon {
    float: left;
    margin-left: -20px;
}

.tagMenu {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.tagMenu .jimu-icon-btn {
    text-align: center;
    padding: 0px 1px 1px 1px;
    width: 20px;
    height: 20px;
    min-width: 15px;
    min-height: 15px;
}


/************************************************
	TagManager CSS
 ************************************************/
 .jimu-simple-table{
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  overflow-y:auto;
  min-height: 67px;
  position: relative;
}

.jimu-simple-table .simple-table-title{
  font-size: 14px;
}

.jimu-simple-table .head-section{
  width:100%;
  height:36px;
  overflow:hidden;
}

.jimu-simple-table.vertical-scroll .head-section > .table-div{
  padding-right: 17px;
}

.jimu-rtl .jimu-simple-table.vertical-scroll .head-section > .table-div{
  padding-right: 0;
  padding-left: 17px;
}

.jimu-simple-table .head-section .simple-table-thead th.simple-table-field .jimu-checkbox{
  position: relative;
  top: 10px;
  width: 100%;
  height: 24px;
  line-height: 16px;
}

.jimu-simple-table .head-section .simple-table-thead th.simple-table-field .jimu-checkbox > .checkbox{
  margin-top: 0 !important;
}

.jimu-simple-table .head-section .simple-table-thead th.simple-table-field .jimu-checkbox > .label{
  position: absolute;
  left: 17px;
  top: 0;
}

.jimu-rtl .jimu-simple-table .head-section .simple-table-thead th.simple-table-field .jimu-checkbox > .label{
  position: absolute;
  left: 0;
  right: 17px;
  top: 0;
}

.jimu-simple-table .body-section .simple-table-tbody td.simple-table-cell > .jimu-checkbox{
  position: relative;
  top: 4px;
}

.jimu-simple-table .head-section .simple-table-tbody{
  display: none;
}

.jimu-simple-table .body-section{
  position: absolute;
  top: 36px;
  bottom: 0;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #eef2f5;
  border-right: 1px solid #eef2f5;
  border-bottom: 1px solid #eef2f5;
  background-color: #fafafc;
  color: #7989a0;
}

.jimu-simple-table .body-section .table-div{
  margin: 0;
  min-height: 100%;
  background-image: url(images/table_under_line.png);
  background-repeat: repeat;
}

.jimu-simple-table .body-section .simple-table-thead{
  display: none;
}

.jimu-simple-table .table{
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
}

.jimu-simple-table .simple-table-field.hidden-column > *,.jimu-simple-table .simple-table-cell.hidden-column > *{
  display: none;
}

.jimu-simple-table .simple-table-field{
  height: 36px;
  line-height: 36px;
}

.jimu-simple-table .simple-table-cell{
  height:30px;
  line-height:30px;
}

.jimu-simple-table .simple-table-field,.jimu-simple-table .simple-table-cell{
  vertical-align:middle;
  padding-left:8px;
  padding-right:8px;
  padding-top:0;
  padding-bottom:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-simple-table .simple-table-field > *,.jimu-simple-table .simple-table-cell > *{
  text-overflow: ellipsis;
}

.jimu-simple-table .simple-table-cell > *{
  overflow: hidden;
}

.jimu-simple-table .simple-table-row:last-child .simple-table-cell{
  border-bottom: 0;
}

.jimu-simple-table .simple-table-row .editable-div,.jimu-simple-table .simple-table-row .normal-text-div{
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-simple-table .simple-table-row .editable-input{
  width:100%;
}

.jimu-simple-table .simple-table-row > .actions-td .action-item-parent{
  display: none;
  vertical-align:middle;
}

.jimu-simple-table .simple-table-row:hover > .actions-td .action-item-parent{
  display: inline-block;
}

.jimu-simple-table .simple-table-row > .actions-td .action-item{
  cursor:pointer;
}